a,
a:link,
button {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
a {
  color: #36C6AA;
}
a:hover,
a:focus {
  color: #F79534;
}
body {
  font-size: 17px;
}
body,
.theme-light,
.theme-light .section {
  background-color: #f8f8f8;
}
.theme-dark,
.theme-dark .section {
  background-color: #222;
}
.theme-dark .box {
  background-color: #292929;
}
.theme-dark,
.theme-dark .title {
  color: #EEE;
}
.theme-dark .radio:hover {
  color: #fff;
}
.theme-dark a {
  color: #75e6d0;
}
.theme-dark a:hover,
.theme-dark a:focus {
  color: #ffb164;
}
.theme-dark .subtitle,
.theme-dark .help {
  color: #c7c7c7;
}
.theme-dark {
  text-shadow: 0 1px 1px #111;
}
.subtitle {
  font-size: 19px;
}
.hidden {
  display: none;
}
.title .logo {
  vertical-align: middle;
}
.icon-dark {
  display: none;
}
.theme-dark .icon-light {
  display: none;
}
.theme-dark .icon-dark {
  display: inline-block;
}
.station-count:before {
  content: "(";
}
.station-count:after {
  content: ")";
}
.refresh-stations {
  margin-bottom: 14px;
}
.stations-list {
  margin-bottom: 0;
}
.lastfm-auth,
.theme-dark .lastfm-auth {
  background-color: #c91e24;
  border-color: #b31b20;
  color: white;
}
.lastfm-auth:hover,
.theme-dark .lastfm-auth:hover,
.lastfm-auth:focus,
.theme-dark .lastfm-auth:focus {
  color: white;
  background-color: #9d171c;
  border-color: #861418;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
footer {
  margin-top: 40px;
  font-size: 13px;
}
.radio + .radio {
  margin-left: 2em;
}
button .fa {
  margin-right: 0.3em;
}
.help {
  font-size: 13px;
  margin-top: 10px;
}
#lastfm-is-authenticated p:first-child {
  margin-bottom: 10px;
}
#status-message {
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  top: 15px;
}
.theme-dark .notification.is-success {
  color: #dff0d8;
  background-color: #468847;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-color: #2F7130;
}
.radio input[type="radio"] {
  margin-right: 0.2em;
}
