body {
  font-size: 17px;
}
.theme-dark .radio:hover {
  color: #fff;
}
.subtitle {
  font-size: 19px;
}
.title .logo {
  vertical-align: middle;
}
.icon-dark {
  display: none;
}
.theme-dark .icon-light {
  display: none;
}
.theme-dark .icon-dark {
  display: inline-block;
}
.station-count:before {
  content: "(";
}
.station-count:after {
  content: ")";
}
.refresh-stations {
  margin-bottom: 14px;
}
.stations-list {
  margin-bottom: 0;
}
.lastfm-auth,
.theme-dark .box .lastfm-auth {
  background-color: #c91e24;
  border-color: #b31b20;
  color: white;
}
.lastfm-auth:hover,
.theme-dark .box .lastfm-auth:hover,
.lastfm-auth:focus,
.theme-dark .box .lastfm-auth:focus {
  color: white;
  background-color: #9d171c;
  border-color: #861418;
}
.radio + .radio {
  margin-left: 2em;
}
.help {
  font-size: 13px;
  margin-top: 10px;
}
#lastfm-is-authenticated p:first-child {
  margin-bottom: 10px;
}
#status-message {
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  top: 15px;
}
.theme-dark .notification.is-success {
  color: #dff0d8;
  background-color: #468847;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-color: #2F7130;
}
.radio input[type="radio"] {
  margin-right: 0.2em;
}
