body {
  font-size: 18px;
}

.container {
  width: 780px;
}

.station-count {
  color: #fff;
  background-color: rgba(100, 100, 100, 0.5);
  line-height: 1;
}

.note {
  font-size: 14px;
}

.status-message {
  z-index: 99999;
  color: #165c26;
  background-color: #dcffe4;
  width: 20em;
  left: 50%;
  margin-top: 100px;
  margin-left: -10em;
  border: 1px solid rgba(27, 31, 35, 0.15);
}

body.theme-dark .status-message.border {
  background-color: #327E43;
  color: #C1EFCC;
  border-color: #1E612D !important;
}

.station-link::after {
  content: "\b7";
  padding-left: 8px;
}

.station-link:last-child::after {
  content: "";
  padding-left: 0;
}

body.theme-dark .note {
  color: #999;
}
