body {
  width: 30em;
  overflow: hidden;
}

.tips-list li {
  display: inline-block;
}

.tips-list li + li {
  margin-left: 0.75em;
}

.dropdown {
  position: inherit;
}

.dropdown-menu {
  overflow: auto;
  left: 0;
  right: 0;
  width: auto;
  height: 15.5em;
}

.dropdown-toggle,
.btn-audio {
  height: 40px;
}

.station-list-item.focused {
  font-weight: 700;
  text-decoration: underline;
}

.track-list-item + .track-list-item {
  margin-top: 4px;
}

.station-list-item:nth-child(even) .station-button {
  background-color: #ededed;
}

body.theme-dark .station-list-item:nth-child(even) .station-button {
  background-color: #3d3d3d;
}

.btn-audio {
  line-height: 1;
}

.btn-audio i {
  opacity: 1;
}

body.theme-dark .dropdown-menu {
  background-color: #444;
}

.header {
  background-color: #eff3f3;
}

body.theme-dark .header {
  background-color: #47494d;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 1px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  border: 1px solid #444;
  height: 18px;
  width: 18px;
  border-radius: 18px;
  background-color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.2em rgba(230, 40, 52, 0.6);
}

body.theme-dark input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.2em rgba(78, 232, 81, 0.6);
}

.btn-volume {
  color: #24292e;
  line-height: 1;
}

.btn-volume:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em rgba(230, 40, 52, 0.6);
}

body.theme-dark .btn-volume:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em rgba(78, 232, 81, 0.3);
}

body.theme-dark .btn-volume:disabled {
  color: #999;
}
