body {
  width: 30em;
  overflow: hidden;
}

.tips-list li {
  display: inline-block;
}

.tips-list li + li {
  margin-left: 0.75em;
}

.dropdown {
  position: inherit;
}

.dropdown-menu {
  overflow: auto;
  left: 0;
  right: 0;
  width: auto;
  height: 13.25em;
}

.dropdown-toggle,
.btn-audio {
  height: 40px;
}

.station-list-item.focused {
  font-weight: 700;
  text-decoration: underline;
}

.track-list-item + .track-list-item {
  margin-top: 4px;
}

.station-list-item:nth-child(even) .station-button {
  background-color: #ededed;
}

body.theme-dark .station-list-item:nth-child(even) .station-button {
  background-color: #3d3d3d;
}

.btn-audio {
  line-height: 1;
}

.btn-audio i {
  opacity: 1;
}

body.theme-dark .dropdown-menu {
  background-color: #444;
}

.header {
  background-color: #eff3f3;
}

body.theme-dark .header {
  background-color: #47494d;
}
