#title {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
#artist:before {
  content: "by ";
}
body,
.control {
  text-align: center;
}
body {
  min-width: 28em;
}
.container {
  padding: 1em;
}
.box {
  padding: 0;
}
.theme-dark .title {
  color: #c7c7c7;
}
.theme-dark .select select {
  background-color: #292929;
  color: #eee;
  border-color: #454648;
}
.theme-dark .select select:hover {
  color: #ffb164;
}
.theme-dark .select:after {
  border-color: #75e6d0;
}
.theme-dark .select:hover:after {
  border-color: #ffb164;
}
.footer {
  margin-top: 10px;
  padding: 20px;
}
#currently-playing {
  display: table;
  width: 100%;
}
#station-image,
#currently-playing .subtitle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#station-image {
  width: 120px;
  height: 120px;
}
#currently-playing .subtitle {
  padding: 20px;
}
