#title {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
#artist:before {
  content: "by ";
}
body,
.control {
  text-align: center;
}
body {
  padding: 1em;
  min-width: 19em;
}
.theme-dark .title {
  color: #c7c7c7;
}
.theme-dark .select select {
  background-color: #292929;
  color: #eee;
  border-color: #454648;
}
.theme-dark .select select:hover {
  color: #ffb164;
}
.theme-dark .select:hover:after {
  border-color: #ffb164;
}
