#title {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
#artist:before {
  content: "by ";
}
body,
.control {
  text-align: center;
}
body {
  min-width: 28em;
}
.container {
  padding: 1em;
}
.box {
  padding: 0;
}
.theme-dark .title {
  color: #c7c7c7;
}
.theme-dark .select select {
  background-color: #292929;
  color: #eee;
  border-color: #454648;
}
.theme-dark .select select:hover {
  color: #ffb164;
}
.theme-dark .select:after {
  border-color: #75e6d0;
}
.theme-dark .select:hover:after {
  border-color: #ffb164;
}
.footer {
  margin-top: 10px;
  padding: 20px;
}
.footer a:not(.icon),
.footer a:visited:not(.icon) {
  border-bottom-width: 0;
}
.footer a:not(.icon):hover,
.footer a:visited:not(.icon):hover {
  border-bottom-width: 1px;
}
#currently-playing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#currently-playing.hidden {
  display: none;
}
#station-image {
  width: 120px;
  height: 120px;
}
#currently-playing .subtitle {
  padding: 20px;
  width: 100%;
}
