@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(fonts/MaterialIcons-Regular.woff) format('woff'),
       url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.theme-dark .icon-light,
.theme-light .icon-dark {
  display: none;
}

a,
a:link,
a:visited,
a:active,
.btn-link {
  color: #ae1f26;
}

body.theme-light {
  background-color: #fefefe;
  color: #000;
}

body.theme-dark {
  background-color: #333;
  color: #fdfdfd;
}

body.theme-dark .btn,
body.theme-dark a.btn,
body.theme-dark a:link.btn,
body.theme-dark a:visited.btn,
body.theme-dark a:active.btn {
  background-color: #47494D;
  color: #eff3f6;
  background-image: none;
}

body.theme-dark .btn:hover {
  background-color: #4C4E51;
  background-image: none;
  background-position: -.5em;
  border-color: rgba(158, 154, 150, 0.35);
}

body.theme-dark a,
body.theme-dark a:link,
body.theme-dark a:visited,
body.theme-dark a:active,
body.theme-dark .btn-link,
body.theme-dark a.btn-link,
body.theme-dark a:link.btn-link,
body.theme-dark a:visited.btn-link,
body.theme-dark a:active.btn-link {
  color: #4EE851;
}

body.theme-dark .text-gray {
  color: #aeaeae !important;
}

.btn:focus,
a:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em rgba(230, 40, 52, 0.6);
}

body.theme-dark .btn:focus,
body.theme-dark a:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em rgba(78, 232, 81, 0.3);
}
