a,
a:link,
button {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.alert {
  color: #468847;
  background-color: #dff0d8;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 14px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}
body {
  background-color: #8D8D8D;
  color: #373737;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 14px;
  text-shadow: 0 1px 1px #fff;
  padding: 10px;
}
body.theme-light {
  background-color: #f8f8f8;
}
body.theme-dark {
  background-color: #222;
  color: #EEE;
  text-shadow: 0 1px 1px #111;
}
body.theme-dark .alert {
  color: #dff0d8;
  background-color: #468847;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-color: #2F7130;
}
body.theme-dark footer {
  color: #999;
}
body.theme-dark footer a,
body.theme-dark footer a:link,
body.theme-dark footer a:visited,
body.theme-dark footer a:active {
  color: #aaa;
  text-decoration: none;
}
body.theme-dark footer a:hover,
body.theme-dark footer a:focus {
  color: #D8A24D;
}
body.theme-dark button {
  color: #eee;
  background-color: #484848;
  border-color: #444;
}
body.theme-dark button:hover,
body.theme-dark button:focus,
body.theme-dark button:active {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
body.theme-dark button[disabled] {
  background-color: #333;
  color: #444;
}
body.theme-dark select {
  color: #eee;
  background-color: #484848;
  border-color: #444;
}
body.theme-dark select[disabled] {
  background-color: #333;
  color: #444;
}
body.theme-dark select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(216, 162, 77, 0.75);
  border: 1px solid rgba(216, 162, 77, 0.5);
}
body.theme-dark hr {
  border-top-color: #444;
  border-bottom-color: transparent;
}
body.options {
  font-size: 18px;
}
body.options .icon-dark {
  display: none;
}
body.options.theme-dark a,
body.options.theme-dark a:link,
body.options.theme-dark a:visited,
body.options.theme-dark a:active {
  color: #D8A24D;
}
body.options.theme-dark a:hover,
body.options.theme-dark a:focus {
  color: #e1b877;
}
body.options.theme-dark .icon-light {
  display: none;
}
body.options.theme-dark .icon-dark {
  display: block;
}
body.options.theme-dark .help-block {
  color: #999;
}
body.options a,
body.options a:link,
body.options a:visited,
body.options a:active {
  color: #4554B5;
  text-decoration: underline;
}
body.options a:hover,
body.options a:focus {
  color: #EE662B;
  text-decoration: none;
}
body.options .station-count:before {
  content: "(";
}
body.options .station-count:after {
  content: ")";
}
body.options .refresh-stations {
  margin-bottom: 14px;
}
body.options .stations-list {
  margin-bottom: 0;
}
body.options .container {
  margin: 2em 20%;
  position: relative;
}
body.options .container .alert {
  position: absolute;
  left: 50%;
  width: 40%;
  margin-left: -20%;
  top: 55px;
  font-size: 14px;
}
body.options h1 {
  font-size: 32px;
  font-weight: 300;
}
body.options p {
  margin-bottom: 0;
}
body.popup {
  min-width: 19em;
  text-align: center;
}
body.popup.theme-dark h1 {
  color: #999;
}
body.popup #currently-playing {
  margin-bottom: 10px;
}
body.popup footer {
  margin-top: 0;
}
body.popup #title {
  font-weight: 700;
}
body.popup #artist {
  display: block;
}
body.popup #artist:before {
  content: "by ";
}
body.popup #last-known-header {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
}
button {
  color: #333;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:hover,
button:focus,
button:active {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
button[disabled] {
  background-color: #fff;
  border-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.controls {
  margin-bottom: 14px;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
fieldset legend {
  margin: 0 0 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-style: italic;
}
footer {
  margin-top: 40px;
  font-size: 12px;
}
footer a,
footer a:link,
footer a:visited,
footer a:active {
  color: #999;
  text-decoration: underline;
}
footer a:hover,
footer a:focus {
  text-decoration: none;
  color: #666;
}
.form-group + .form-group {
  margin-top: 10px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}
header {
  margin-bottom: 40px;
}
header img {
  display: block;
}
header img.pull-left {
  margin-right: 20px;
}
.hidden {
  display: none;
}
hr {
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}
label {
  display: inline-block;
  vertical-align: middle;
}
label input[type="radio"] {
  vertical-align: middle;
  margin-top: -1px;
}
label + label {
  margin-left: 1.5em;
}
p {
  margin: 0 0 14px 0;
}
p.help-block {
  font-size: 14px;
}
.help-inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  padding-left: 5px;
  color: #595959;
  font-size: 12px;
}
.pull-left {
  float: left;
}
select {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
select[disabled] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
strong {
  font-weight: 700;
}
ul.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
ul.list-inline li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.btn-lastfm,
.theme-dark .btn-lastfm {
  background-color: #c91e24;
  border-color: #b31b20;
  color: white;
}
.btn-lastfm:hover,
.theme-dark .btn-lastfm:hover,
.btn-lastfm:focus,
.theme-dark .btn-lastfm:focus {
  color: white;
  background-color: #9d171c;
  border-color: #861418;
}
