body {
  background-color: #f8f8f8;
  color: #373737;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 14px;
  text-shadow: 0 1px 1px #fff;
  padding: 10px;
}
body.options {
  font-size: 18px;
}
body.options a,
body.options a:link,
body.options a:visited,
body.options a:active {
  color: #4554B5;
  text-decoration: underline;
}
body.options a:hover,
body.options a:focus {
  color: #EE662B;
  text-decoration: none;
}
body.popup {
  min-width: 19em;
  text-align: center;
}
button {
  color: #333;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:hover,
button:focus,
button:active {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
button[disabled] {
  background-color: #fff;
  border-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}
footer {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #ddd;
  font-size: 12px;
}
footer a,
footer a:link,
footer a:visited,
footer a:active {
  color: #999;
  text-decoration: underline;
}
footer a:hover,
footer a:focus {
  text-decoration: none;
  color: #666;
}
.form-group + .form-group {
  margin-top: 10px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}
.hidden {
  display: none;
}
label {
  display: inline-block;
  vertical-align: middle;
}
select {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
select[disabled] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
