!!!
%html
  %head
    %title SomaPlayer Options
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'reset.css'}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'style.css'}
  %body.options
    %footer
      &copy; 2014 Sarah Vessels
      &middot;
      %a{href: 'https://github.com/moneypenny/soma-chrome'}
        View source code
    %script{src: 'jquery-2.1.0.min.js'}
    %script{src: 'options.js'}
