!!!
%html
  %head
    %title SomaPlayer Options
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'reset.css'}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'style.css'}
  %body.options
    .container
      %header
        %img.pull-left{src: 'icon48.png', width: '48', height: '48', alt: 'SomaPlayer logo'}
        %h1 SomaPlayer Options
        %hr
      %p#status-message.hidden.alert
      %fieldset
        %legend Last.fm Authentication
        #lastfm-is-authenticated.hidden
          %p.help-block
            Connected as
            %strong#lastfm-user
          %p.help-block
            You can re-authenticate if scrobbling isn't working:
        %p
          %button#lastfm-auth.hidden
            Authenticate with Last.fm
      %hr
      %fieldset
        %legend Track Scrobbling
        .controls
          %label{for: 'enable_scrobbling'}
            %input#enable_scrobbling{type: 'radio', name: 'scrobbling', value: 'enabled', disabled: 'disabled'}
            Enable scrobbling
          %label{for: 'disable_scrobbling'}
            %input#disable_scrobbling{type: 'radio', name: 'scrobbling', value: 'disabled', checked: 'checked'}
            Disable scrobbling
        %p.help-block
          Requires Last.fm authentication.
      %hr
      %p.help-block
        This is an unofficial extension, unendorsed by SomaFM and Last.fm. I
        just love both services and hope you find this useful. :)
      %hr
      %footer
        %ul.list-inline
          %li
            &copy; 2014 Sarah Vessels
          %li &middot;
          %li
            %a{href: 'https://github.com/moneypenny/soma-chrome'}
              View source code
    %script{src: 'jquery-2.1.0.min.js'}
    %script{src: 'lastfm.min.js'}
    %script{src: 'util.js'}
    %script{src: 'options.js'}
