!!!
%html
  %head
    %title SomaPlayer Options
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'reset.css'}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'style.css'}
  %body.options
    .container
      %header
        %img.icon-light.pull-left{src: 'icon48.png', width: '48', height: '48', alt: 'SomaPlayer logo'}
        %img.icon-dark.pull-left{src: 'icon48-dark.png', width: '48', height: '48', alt: 'SomaPlayer logo'}
        %h1 SomaPlayer Options
        %hr
      %p#status-message.hidden.alert
      %fieldset
        %legend Last.fm Authentication
        #lastfm-is-authenticated.hidden
          %p.help-block
            Connected as:
            %a#lastfm-user{target: '_blank'}
            &mdash;
            %a#lastfm-disconnect{href: '#'}
              Disconnect
          %p
            %button.lastfm-auth.hidden
              %i.fa.fa-lastfm
              Authenticate with Last.fm
            %span.help-inline
              You can re-authenticate if scrobbling isn't working
        #lastfm-is-not-authenticated.hidden
          %button.lastfm-auth.hidden.btn-lastfm
            %i.fa.fa-lastfm
            Authenticate with Last.fm
      %hr
      %fieldset
        %legend Track Scrobbling
        .controls.hidden
          %label{for: 'enable_scrobbling'}
            %input#enable_scrobbling{type: 'radio', name: 'scrobbling', value: 'enabled', disabled: 'disabled'}
            Enable scrobbling
          %label{for: 'disable_scrobbling'}
            %input#disable_scrobbling{type: 'radio', name: 'scrobbling', value: 'disabled', checked: 'checked'}
            Disable scrobbling
        %p.help-block
          Requires Last.fm authentication. Only stations supported by the
          %a{href: 'http://api.somascrobbler.com/'} SomaScrobbler
          will get notifications/scrobbling.
      %hr
      %fieldset
        %legend Desktop Notifications
        .controls.hidden
          %label{for: 'enable_notifications'}
            %input#enable_notifications{type: 'radio', name: 'notifications', value: 'enabled', checked: 'checked'}
            Enable desktop notifications
          %label{for: 'disable_notifications'}
            %input#disable_notifications{type: 'radio', name: 'notifications', value: 'disabled'}
            Disable desktop notifications
        %p.help-block
          Notifications when the track changes.
      %hr
      %fieldset
        %legend Theme
        .controls.hidden
          %label{for: 'light_theme'}
            %input#light_theme{type: 'radio', name: 'theme', value: 'light', checked: 'checked'}
            Light theme
          %label{for: 'dark_theme'}
            %input#dark_theme{type: 'radio', name: 'theme', value: 'dark'}
            Dark theme
        %p.help-block
          Black on white (light) or white on black (dark)? Decisions, decisions.
      %hr.stations-divider.hidden
      %fieldset.stations-options.hidden
        %legend
          Known Stations
          %span.station-count
        %button.refresh-stations
          Refresh List
        %p.stations-list
      %hr
      %fieldset
        %legend About
        %p.help-block
          This is an unofficial extension, endorsed by neither
          %a{href: 'http://somafm.com', target: '_blank'} SomaFM
          nor
          %a{href: 'http://last.fm', target: '_blank'} Last.fm.
          I just love both services and hope you find this useful. :)
      %hr
      %footer
        %ul.list-inline
          %li
            &copy; 2016
            %a{href: 'http://3till7.net/', target: '_blank'}
              Sarah Vessels
          %li &middot;
          %li
            %a{href: 'https://github.com/cheshire137/soma-chrome', target: '_blank'}
              View source code
    %script{src: 'jquery-2.1.0.min.js'}
    %script{src: 'lastfm.min.js'}
    %script{src: 'config.js'}
    %script{src: 'util.js'}
    %script{src: 'options.js'}
