!!!
%html
  %head
    %title SomaPlayer Popup
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'reset.css'}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'font-awesome.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'style.css'}
  %body.popup
    %h1 SomaPlayer
    #currently-playing.hidden
      %span#last-known-header
        Last known track:
      %span#title
      %span#artist
    .form-group
      %label.sr-only{for: 'station'} Station:
      %select#station{name: 'station'}
        %option{value: ''} Choose a station
        %option{value: 'bagel'} BAGeL Radio
        %option{value: 'beatblender'} Beat Blender
        %option{value: 'bootliquor'} Boot Liquor
        %option{value: 'brfm'} Black Rock FM
        %option{value: 'christmas'} Christmas Lounge
        %option{value: 'xmasrocks'} Christmas Rocks!
        %option{value: 'cliqhop'} cliqhop idm
        %option{value: 'covers'} Covers
        %option{value: 'events'} DEF CON Radio
        %option{value: 'deepspaceone'} Deep Space One
        %option{value: 'digitalis'} Digitalis
        %option{value: 'doomed'} Doomed
        %option{value: 'dronezone'} Drone Zone
        %option{value: 'dubstep'} Dub Step Beyond
        %option{value: 'earwaves'} Earwaves
        %option{value: 'folkfwd'} Folk Forward
        %option{value: 'groovesalad'} Groove Salad
        %option{value: 'illstreet'} Illinois Street Lounge
        %option{value: 'indiepop'} Indie Pop Rocks!
        %option{value: 'jollysoul'} Jolly Ol' Soul
        %option{value: 'lush'} Lush
        %option{value: 'missioncontrol'} Mission Control
        %option{value: 'poptron'} PopTron
        %option{value: 'secretagent'} Secret Agent
        %option{value: '7soul'} Seven Inch Soul
        %option{value: 'sf1033'} SF 10-33
        %option{value: 'live'} SomaFM Live
        %option{value: 'sonicuniverse'} Sonic Universe
        %option{value: 'sxfm'} South by Soma
        %option{value: 'spacestation'} Space Station Soma
        %option{value: 'suburbsofgoa'} Suburbs of Goa
        %option{value: 'thetrip'} The Trip
        %option{value: 'thistle'} ThistleRadio
        %option{value: 'u80s'} Underground 80s
        %option{value: 'xmasinfrisko'} Xmas in Frisko
    .form-group
      %button#play{type: 'button', disabled: 'disabled'}
        %i.fa.fa-play
        Play
      %button#pause.hidden{type: 'button'}
        %i.fa.fa-pause
        Pause
    %hr
    %footer
      %ul.list-inline
        %li
          %a{href: '#options'}
            Settings
        %li &middot;
        %li
          %a{href: 'http://somafm.com/support/'}
            Donate to SomaFM
    %script{src: 'jquery-2.1.0.min.js'}
    %script{src: 'config.js'}
    %script{src: 'util.js'}
    %script{src: 'analytics.js'}
    %script{src: 'popup.js'}
