!!!
%html
  %head
    %title SomaPlayer Popup
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'reset.css'}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'style.css'}
  %body.popup
    %h1 SomaPlayer
    #currently-playing.hidden
      %span#last-known-header
        Last known track:
      %span#title
      %span#artist
    .form-group
      %label.sr-only{for: 'station'} Station:
      %select#station{name: 'station', disabled: 'disabled', autofocus: 'autofocus'}
        %option{value: ''} Choose a station

    .form-group
      %button#play{type: 'button', disabled: 'disabled'}
        %i.fa.fa-play
        Play
      %button#pause.hidden{type: 'button'}
        %i.fa.fa-pause
        Pause
    %hr
    %footer
      %ul.list-inline
        %li
          %a{href: '#options'}
            Settings
        %li &middot;
        %li
          %a{href: 'http://somafm.com/support/'}
            Donate to SomaFM
    %script{src: 'jquery-2.1.0.min.js'}
    %script{src: 'config.js'}
    %script{src: 'util.js'}
    %script{src: 'analytics.js'}
    %script{src: 'popup.js'}
