!!!
%html
  %head
    %title SomaPlayer Popup
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: 'style.css'}
  %body.popup
    %form
      %label{for: 'station'} Station:
      %select#station{name: 'station'}
        %option{value: 'bagel'} BAGeL Radio
        %option{value: 'beatblender'} Beat Blender
        %option{value: 'bootliquor'} Boot Liquor
        %option{value: 'brfm'} Black Rock FM
        %option{value: 'christmas'} Christmas Lounge
        %option{value: 'xmasrocks'} Christmas Rocks!
        %option{value: 'cliqhop'} cliqhop idm
        %option{value: 'covers'} Covers
        %option{value: 'digitalis'} Digitalis
        %option{value: 'doomed'} Doomed
        %option{value: 'dronezone'} Drone Zone
        %option{value: 'dubstep'} Dub Step Beyond
        %option{value: 'groovesalad'} Groove Salad
        %option{value: 'illstreet'} Illinois Street Lounge
        %option{value: 'indiepop'} Indie Pop Rocks!
        %option{value: 'lush'} Lush
        %option{value: 'missioncontrol'} Mission Control
        %option{value: 'poptron'} PopTron
        %option{value: 'secretagent'} Secret Agent
        %option{value: 'sf1033'} SF 10-33
        %option{value: 'sonicuniverse'} Sonic Universe
        %option{value: 'spacestation'} Space Station Soma
        %option{value: 'suburbsofgoa'} Suburbs of Goa
        %option{value: 'thetrip'} The Trip
        %option{value: 'u80s'} Underground 80s
        %option{value: 'xmasinfrisko'} Xmas in Frisko
    %script{src: 'jquery-2.1.0.min.js'}
    %script{src: 'popup.js'}
