a, a:link, button {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.alert {
  color: #468847;
  background-color: #dff0d8;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 14px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}

body {
  background-color: #f8f8f8;
  color: #373737;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 14px;
  text-shadow: 0 1px 1px #fff;
  padding: 10px;

  &.options {
    font-size: 18px;

    a, a:link, a:visited, a:active {
      color: #4554B5;
      text-decoration: underline;
    }

    a:hover, a:focus {
      color: #EE662B;
      text-decoration: none;
    }

    .container {
      margin: 2em 20%;
      position: relative;

      .alert {
        position: absolute;
        left: 50%;
        width: 40%;
        margin-left: -20%;
        top: 55px;
        font-size: 14px;
      }
    }

    h1 {
      font-size: 32px;
      font-weight: 300;
    }
  }

  &.popup {
    min-width: 19em;
    text-align: center;

    #currently-playing {
      margin-bottom: 10px;
    }

    footer {
      margin-top: 0;
    }

    #title {
      font-weight: 700;
    }

    #artist {
      display: block;

      &:before {
        content: "by ";
      }
    }

    #last-known-header {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

button {
  color: #333;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover, &:focus, &:active {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
  }

  &[disabled] {
    background-color: #fff;
    border-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.controls {
  margin-bottom: 14px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;

  legend {
    margin: 0 0 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-style: italic;
  }
}

footer {
  margin-top: 40px;
  font-size: 12px;

  a, a:link, a:visited, a:active {
    color: #999;
    text-decoration: underline;
  }

  a:hover, a:focus {
    text-decoration: none;
    color: #666;
  }
}

.form-group {
  & + .form-group {
    margin-top: 10px;
  }
}

h1 {
  font-size: 32px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}

header {
  margin-bottom: 40px;

  img {
    display: block;

    &.pull-left {
      margin-right: 20px;
    }
  }
}

.hidden {
  display: none;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
  margin: 10px 0;
}

label {
  display: inline-block;
  vertical-align: middle;

  input[type="radio"] {
    vertical-align: middle;
    margin-top: -1px;
  }

  & + label {
    margin-left: 1.5em;
  }
}

p {
  margin: 0 0 14px 0;

  &.help-block {
    font-size: 14px;
  }
}

.help-inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  padding-left: 5px;
  color: #595959;
  font-size: 12px;
}

.pull-left {
  float: left;
}

select {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &[disabled] {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

strong {
  font-weight: 700;
}

ul.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;

  li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@lastfm-red: #c91e24;
.btn-lastfm {
  background-color: @lastfm-red;
  border-color: darken(@lastfm-red, 5%);
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: darken(@lastfm-red, 10%);
    border-color: darken(@lastfm-red, 15%);
  }
}
